#Eclipse 
.cproject
.project
.classpath
.settings
/Debug/
/bin/
output.gpx
output.txt
car-0.txt
car-1.txt
car-2.txt
car-3.txt
car-4.txt
car-5.txt
car-6.txt
car-7.txt
car-0.gpx
car-1.gpx
car-2.gpx
car-3.gpx
car-4.gpx
car-5.gpx
car-6.gpx
car-7.gpx

good-solutions/*
